@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 20%;
		--card: 0 0% 98%;
		--card-foreground: 0 0% 15%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 20%;
		--primary: 50 61% 52%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 96%;
		--secondary-foreground: 0 0% 20%;
		--muted: 0 0% 98%;
		--muted-foreground: 0 0% 30%;
		--accent: 50 61% 52%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 0 0% 100%;
		--border: 0 0% 80%;
		--input: 0 0% 100%;
		--ring: 50 61% 52%;
		--chart-1: 50 61% 52%;
		--chart-2: 0 0% 90%;
		--chart-3: 40 50% 70%;
		--chart-4: 30 60% 80%;
		--chart-5: 20 50% 90%;
		--radius: 1rem;
	}
	.dark {
		--background: 0 0% 15%;
		--foreground: 0 0% 90%;
		--card: 0 0% 20%;
		--card-foreground: 0 0% 90%;
		--popover: 0 0% 22%;
		--popover-foreground: 0 0% 90%;
		--primary: 50 61% 52%;
		--primary-foreground: 0 0% 15%;
		--secondary: 60 100% 30%;
		--secondary-foreground: 0 0% 90%;
		--muted: 0 0% 25%;
		--muted-foreground: 0 0% 70%;
		--accent: 50 61% 52%;
		--accent-foreground: 0 0% 15%;
		--destructive: 0 100% 40%;
		--destructive-foreground: 0 0% 15%;
		--border: 0 0% 35%;
		--input: 0 0% 20%;
		--ring: 50 61% 52%;
		--chart-1: 50 61% 52%;
		--chart-2: 60 100% 40%;
		--chart-3: 40 60% 50%;
		--chart-4: 30 70% 55%;
		--chart-5: 20 60% 50%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
