@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 49 100% 95%;
	--foreground: 49 5% 0%;
	--card: 49 50% 90%;
	--card-foreground: 49 5% 10%;
	--popover: 49 100% 95%;
	--popover-foreground: 49 100% 0%;
	--primary: 49 60.5% 52.4%;
	--primary-foreground: 0 0% 100%;
	--secondary: 49 30% 70%;
	--secondary-foreground: 0 0% 0%;
	--muted: 11 30% 85%;
	--muted-foreground: 49 5% 35%;
	--accent: 11 30% 80%;
	--accent-foreground: 49 5% 10%;
	--destructive: 0 100% 30%;
	--destructive-foreground: 49 5% 90%;
	--border: 49 30% 50%;
	--input: 49 30% 18%;
	--ring: 49 60.5% 52.4%;
	--radius: 1rem;
}
.dark {
	--background: 49 50% 5%;
	--foreground: 49 5% 90%;
	--card: 49 50% 0%;
	--card-foreground: 49 5% 90%;
	--popover: 49 50% 5%;
	--popover-foreground: 49 5% 90%;
	--primary: 49 60.5% 52.4%;
	--primary-foreground: 0 0% 100%;
	--secondary: 49 30% 10%;
	--secondary-foreground: 0 0% 100%;
	--muted: 11 30% 15%;
	--muted-foreground: 49 5% 60%;
	--accent: 11 30% 15%;
	--accent-foreground: 49 5% 90%;
	--destructive: 0 100% 30%;
	--destructive-foreground: 49 5% 90%;
	--border: 49 30% 18%;
	--input: 49 30% 18%;
	--ring: 49 60.5% 52.4%;
	--radius: 1rem;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
