---
import { getI18N } from "@/i18n";
import Layout from "@/layouts/layout.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import Hero from "@/components/hero.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const title = i18n.SEO_TITLE_1;
const description = i18n.SEO_DESCRIPTION;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const navItems = Object.entries(t("nav")).map(([key, value]) => {
  const url = translatePath(key);
  const label = url.substring(2);
  return {
    title: value,
    label,
    url,
  };
});
---

<Layout title={title} description={description}>
  <main class="min-h-screen flex flex-col items-center justify-center">
    <Hero i18n={i18n.HERO} />
  </main>
  <footer
    class="absolute bottom-0 left-0 right-0 flex flex-col items-center justify-center gap-4 p-6 text-center"
  >
    <p id={navItems[1].label}>Copyright © 2023 NGold</p>
  </footer>
</Layout>
