---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="NGold">
	<main>
		<h1 class="text-4xl font-bold font-mono">NGold</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
